<%= form_with(model: testmp) do |form| %>
  <% if testmp.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(testmp.errors.count, "error") %> prohibited this testmp from being saved:</h2>

      <ul>
        <% testmp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
